/*---------------------------------------generals------------------------------------*/
body {
    direction: rtl;
    margin: 0px;
    font-family: 'Segoe UI';
    color: #464646;
}

.allSections {
    height: 720px;
    width: 100%;
}

h1 {
    font-size: 65px;
    margin-top: 100px;
}

h3 {
    font-size: 30px;
    margin: 0px;
}

/*---------------------------------------nav bar------------------------------------*/

nav {
    background-color: #747EE6;
    width: 100%;
    height: 55px;
}

    nav ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 55px;
    }

        nav ul li a {
            padding-right: 45px;
            padding-left: 45px;
            text-decoration: none;
            font-size: 30px;
            color: white;
            height: 55px;
            display: flex;
            align-items: center;
        }

            nav ul li a img {
                height: 35px;
                width: auto;
            }
nav a:hover {
    background-color: #4753D1;
}

    nav ul li:nth-child(4) {
        background-color: #4753D1;
    }
/*---------------------------------------header------------------------------------*/

header {
    background-color: #F7DAE7;
}

#breadCrumbs {
    position: absolute;
    top: 80px;
    right: 100px;
}

    #breadCrumbs li {
        display: inline;
    }

        #breadCrumbs li a {
            color: #464646;
        }

    header > div {
        margin-right: 100px;
        float: right;
    }

        header > div > div {
            font-size: 28px;
        }

th {
    padding: 5px;
    text-align: start;
    vertical-align: top;
    width: 250px;
}

td {
    font-size: 20px;
}

td:first-child {
     width: 200px;
 }

th span {
    font-size: 24px;
    background-color: #464646;
    width: 100%;
    display: block;
    padding: 5px;
    text-align: center;
}

    th span:hover {
        background-color: #4753D1;
    }

th span a {
    color: white;
    text-decoration: none;
}

table ul {
    margin: 0px;
    margin-bottom: 35px;
    margin-right: 15px;
}

table:nth-child(2) {
    float: right;
}

table:nth-child(3) {
    float: left;
    margin-right: 100px;
}

/*---------------------------------------Footer------------------------------------*/

footer {
    background-color: #747EE6;
    height: 275px;
    color: white;
}

    footer div:first-child {
        float: right;
        position: relative;
        top: 40px;
        right: 120px;
    }

    footer div:first-child p {
        font-size: 18px;
    }

    footer ul {
        float: left;
        margin-left: 450px;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        height: 160px;
        flex-direction: column;
    }

        footer ul li {
            list-style: none;
            margin-bottom: 15px;
            width: 350px;
        }

    footer ul li a {
        text-decoration: none;
        font-size: 20px;
        color: white;
    }

        footer ul li a:hover {
            text-decoration: underline;
        }

#appsLogos {
    position: absolute;
    margin-right: 1060px;
    margin-top: 150px;
}

#appsLogos img {
    width: 50px;
    height: auto;
    margin: 10px;
}

